@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~hint.css/hint.min.css";

*,
*:before,
*:after {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	background-color: var(--vscode-scrollbarSlider-background);
}
::-webkit-scrollbar-thumb {
    background-color: var(--vscode-scrollbarSlider-hoverBackground);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

html,
body {
	background-color: var(--vscode-editor-background);
	font-family: var(--vscode-font-family);
	height: 100%;
	width: 100%;
	overflow: hidden;
	color: var(--vscode-editor-foreground)
}

:root {
    --base-fs: 1.2rem;
    --shallow-font-color: rgba(219, 215, 202, 0.47);
    --log-entry-height: 28px;
}

.hidden {
	display: none !important;
}

.disabled {
	pointer-events: none;
}

.btnx {
	cursor: pointer;
	margin: 0;
	padding: 0;
	border-style: none;
}

.media {
	display: flex;
	align-items: flex-start;
}

.media .media-image {
	margin: 0 1em 0 0;
}

.media .media-content {
	flex: 1;
}

.media.right {
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.media.right .media-image {
	margin: 0.8em 0.3em 0 0;
}

div.appRootParent {
	height: 100vh;
	overflow: hidden;
}
div.appRoot {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

div.appRoot > header {
	z-index: 1000;
}

.log-view {
	width: 100%;
}

.log-view svg.commitGraph path {
	stroke-width: 3;
	fill: none;
}

.log-view svg.commitGraph circle:not(.avatar) {
	stroke: white;
	stroke-width: 0.1em;
	fill: #333;
}

.log-header {
    display: flex;
    color: var(--shallow-font-color);
    font-size: var(--base-fs);
    background-color: rgba(31, 31, 31, 1);
    padding: 5px 0;
    left: 0;
    position: fixed;
    z-index: 10;
    padding-right: 10px;
}

.log-header .title {
    flex: 2;
    width: 0;
    padding: 0 5px;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.log-view-content {
    display: flex;
    padding-top: var(--log-entry-height);
}

.log-branch-and-tag {
    display: flex;
    padding-left: 5px;
}

.log-view-content .log-branch-tag {
    flex: 2;
    width: 0;
}

.log-view-content .log-entry-list {
    flex: 11;
    width: 0;
}

.log-view-content .log-branch-graph {
    flex: 1;
    overflow-x: auto;
}

.log-view-content .log-branch-graph > svg {
    transform: translateX(5%);
}

.log-entry {
    font-size: var(--base-fs);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--vscode-editorGroup-border);
}

.log-entry {
	position: relative;
    display: flex;
    cursor: pointer;
}

.log-entry.active,
.log-entry:hover {
    background-color: #181818;
}

.log-entry.active .log-entry-item {
	color: rgba(219, 215, 202, 0.79);
    transition: .2s ease-in-out;
}

.log-entry .log-entry-item {
    color: var(--shallow-font-color);
    flex: 2;
    width: 0;
    padding: 0 5px;
    height: var(--log-entry-height);
    line-height: var(--log-entry-height);
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.log-entry .hash-copy {
    cursor: copy;
    margin-right: 5px;
    vertical-align: middle;
}

.log-entry .changes-info {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}

.log-entry .changes-info .changes-bar {
    width: 75%;
}

.log-entry-gray{
	color: gray;
}

.log-entry .media-content {
	position: relative;
	overflow: hidden;
    cursor: pointer;
    min-width: 15em;
    padding: 0.5em;
}

.log-entry .media-image {
	min-width: 6em;
	display: flex;
	flex-direction: column;
}

.log-entry .media-image > div.ref {
	min-width: 1em;
	height: 20px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

.log-entry .media-image > div.buttons {
	margin-top: .5em;
	margin-bottom: 0px;
	display: flex;
	justify-content: flex-end;
}

.log-entry .media-image > div.buttons > div {
	background-color: var(--vscode-scrollbarSlider-background);
	padding: .3em .5em .3em 0em;
	font-size: 75%;
	font-weight: normal;
	text-align: right;
}

.log-entry .media-image > div.buttons .btnx {
	margin-left: .5em;
}

.log-entry .media-image > div.buttons svg {
	font-size: 115%;
	margin-right: .1em;
	margin-top: -2px;
	vertical-align: middle;
}

.log-entry .media-image > div.buttons .hash {
	font-family: monospace;
}

.log-entry .media-image > div.buttons a {
	color: var(--vscode-textLink-foreground);
}

.log-entry .media-image > div.buttons a:hover {
	text-decoration: none;
}

.log-entry .commit-subject {
    flex: 3;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.log-entry img.avatar {
	height:15px;
    width:15px;
    float:left;
    margin:0.4em 0.4em 0em 0em;
}

.commit-author {
	font-size: 0.8em;
	margin-top: 0.2em;
	position: relative;
	white-space: nowrap;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
}

.commit-author svg {
	vertical-align: middle;
}

.commit-author .timestamp {
	opacity: 0.7;
}

.commit-remote-container,
.commit-tag-container,
.commit-head-container {
    flex: 1;
    max-width: 75%;
	white-space: nowrap;
    height: var(--log-entry-height);
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.commit-head-container .refs {
	background-color: var(--vscode-editorGutter-addedBackground);
}

.commit-remote-container .refs {
	background-color: var(--vscode-editorGutter-deletedBackground);
}

.commit-tag-container .refs {
	background-color: var(--vscode-terminal-ansiBrightBlack);
}

.commit-remote-container .refs,
.commit-tag-container .refs,
.commit-head-container .refs {
    width: 100%;
	color: white;
	font-size: var(--base-fs);
    display: flex;
    align-items: center;
    padding: 2px 5px;
    border-radius: 2px;
    gap: 5px;
}

.commit-remote-container .refs span,
.commit-tag-container .refs span,
.commit-head-container .refs span {
    text-overflow: ellipsis;
    overflow-x: hidden;
    display: inline-block;
}
.refs a.remove {
	color: #ff6565;
    border-left: 1px solid var(--vscode-editorGroup-border);
    margin-left: 5px;
    padding-left: 5px;
    font-size: 140%;
    line-height: 10px;
}

.refs a.checkout, .refs a.checkout:hover {
	color: white;
}

.commit-remote-container .refs span:first-child,
.commit-tag-container .refs span:first-child,
.commit-head-container .refs span:first-child {
    padding-right: 0.2em;
}

.commit-hash-container > div {
	display: inline-block;
	color: var(--vscode-input-foreground);
	padding: 0.2em;
	cursor: pointer;
}

.commit-hash-container svg {
	color: var(--vscode-input-foreground);
}

.commit-hash-container > div:hover {
	background-color: hsla(0, 0%, 100%, 0.12);
}

.log-entry.loading {
	background-color: #ffffff11;
}


header input, header button {
    margin: 0.2em;
}

header .links svg {
	vertical-align: middle;
}

header .links {
	display: inline-block;
	margin-left: 1em;
	font-size: 130%;
	vertical-align: middle;
}

/* SplitPanel - Resizer */
.Resizer {
	z-index: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
  }

  .Resizer:hover {
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
  }

  .Resizer.horizontal {
	height: 10px;
	border-top: 3px solid rgba(255, 255, 255, 0);
	border-bottom: 3px solid rgba(255, 255, 255, 0);
	cursor: row-resize;
	width: 100%;
  }

  .Resizer.horizontal:hover {
	border-top: 2px solid rgba(0, 0, 0, 0.5);
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  }

  .Resizer.vertical {
	width: 5px;
	cursor: col-resize;
  }

  .Resizer.disabled {
	cursor: not-allowed;
  }
  .Resizer.disabled:hover {
	border-color: transparent;
  }

/* Navigation*/

#history-navbar {
	text-align: right;
	/* Approximation for scroll bar width of 15px*/
	margin: 0.5em 1em;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#history-navbar .navbar {
	list-style: none;
	display: inline-flex;
	font-size: 12px;
	border: 1px solid hsla(0, 0%, 0%, 0.2);
	background-color: hsla(204, 70%, 40%, 1);
	padding: 0;
    margin: 0;
    min-height: inherit;
    border-radius: 0;
}

.navbar .navbar-item {
	text-align: center;
	color: white;
	overflow: hidden;
	white-space: nowrap;
}

.navbar-item .navbar-link {
	color: currentcolor;
	text-decoration: none;
	cursor: pointer;
	display: block;
	line-height: 22px;
	padding: 0 1em;
}

.navbar-item .navbar-link:hover {
	/* hover style for the link, uses vscode's styles */
	background-color: hsla(0, 0%, 100%, 0.12);
}

.navbar-item.previous .navbar-link {
	border-right: 1px solid hsla(0, 0%, 100%, 0.5);
}

.navbar-item .octicon {
	/* align the icons with text */
	vertical-align: -10%;
}

.navbar-item.previous .octicon {
	margin: 0 5px 0 0;
}

.navbar-item.next .octicon {
	margin: 0 -5px 0 5px;
}

.navbar-item.disabled {
	color: hsla(0, 0%, 100%, 0.5);
}

/* Dialog Modal */
#dialog {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: var(--vscode-scrollbarSlider-background);
	z-index: 99999;
}

#dialog hr {
	border-top: 1px solid var(--vscode-editorGroup-border);
}

#dialog > div {
	padding: 1em;
	border: 2px solid var(--vscode-editorGroup-border);
	background-color: var(--vscode-editor-background);
	width: 50%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 800px;
}

#dialog .dialog-content, #dialog .dialog-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#dialog .dialog-content > img {
	margin-right: 1em;
}

/* Details View */
.hidden {
	display:none;
}

.Pane1::-webkit-scrollbar-thumb {
    background-color: var(--vscode-scrollbarSlider-background);
}

.Pane2 {
	background-color: var(--vscode-editor-background);
	overflow-y: auto;
}

.detail-view-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: gray;
}

#detail-view {
	padding-bottom: 20px;
}

#detail-view .detail-view-header {
    font-size: var(--base-fs);
    height: 27px;
    line-height: 27px;
    color: var(--shallow-font-color);
    padding: 0 5px;
    background: rgba(31, 31, 31, 1);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10;
}

/* #detail-view .commit-subject {
	font-size: 1.2em;
	font-weight: lighter;
	margin: 0;
} */

#detail-view .commit-body,
#detail-view .commit-notes {
	margin-top: 1em;
	white-space: pre-wrap;
}

#detail-view .commit-body:empty,
#detail-view .commit-notes:empty {
	display: none;
}

#detail-view .authorContainer {
    display: flex;
    margin-left: 15px;
    margin-top: 10px;
}

#detail-view .authorContainer img.avatar {
    height:40px;
    width:40px;
    margin-right: 10px;
}

#detail-view .committed-message {
    padding: 0.5rem;
    border-radius: 4px;
    margin: 10px 15px;
    background-color: var(--vscode-input-background);
}

#detail-view .detail-view-panel {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 12px;
    padding: 5px 0;
    cursor: pointer;
    user-select: none;
}

#detail-view .panel-content {
    padding-left: 15px;
}

#detail-view .detail-view-panel .files-added {
    color: var(--vscode-gitDecoration-addedResourceForeground);
}
#detail-view .detail-view-panel .files-modified {
    color: var(--vscode-gitDecoration-modifiedResourceForeground);
}
#detail-view .detail-view-panel .files-deleted {
    color: var(--vscode-gitDecoration-deletedResourceForeground);
}

/* #detail-view .action-btn {
	margin-left: 1rem;
	margin-right: 1rem;
	display: inline-block;
	cursor: pointer;
	opacity: 0.8;
	z-index: 5;
}

#detail-view .action-btn:hover {
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

#detail-view div.actions {
	white-space: nowrap;
}

#detail-view div.actions button, #detail-view div.actions input {
	margin: 0.2em;
} */


/* #detail-view div.actions > .textInput {
	width: unset;
}

#detail-view div.actions svg {
	vertical-align: middle;
} */

.diff-row {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0.5em 0;
}

.diff-row div.file-name-cnt {
	flex-grow: 1;
	white-space: normal;
	margin-left: .5em;
	word-break: break-all;
}

.file-name-active {
	color:#91b748;
}

.file-action {
	padding: .3em;
	background: var(--vscode-scrollbarSlider-background);
}

.file-action a {
	color: var(--vscode-textLink-foreground);
	text-decoration: none;
}

.file-action svg {
	height: 1.3em;
	width: 1.3em;
	vertical-align: bottom;
}

.file-action .btnx {
	text-decoration: none;
	margin-right: 1em;
}

.file-action .btnx:last-child {
	margin-right: 0em;
}

.diff-row {
	margin-left: 2em;
	margin-right: 2em;
	padding-left: .4em;
	display: flex;
	justify-content: space-between;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--vscode-editorGroup-border);
}

.diff-stats .diff-block {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 1px;
	color: gray;
	background-color: currentcolor;
}

.diff-block.added {
	background-color: var(--vscode-terminal-ansiGreen);
}

.diff-block.deleted {
	background-color: var(--vscode-terminal-ansiRed);
}


/* Dropdown Menu */

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.dropdown-content a {
	color: black;
	padding: 0.2em;
	text-decoration: none;
	display: block;
	white-space: nowrap;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
	overflow-x: hidden;
	background-color: var(--vscode-input-background);
}

.dropdown-menu>li>a {
	color: var(--vscode-input-foreground);
}

.dropdown-menu>li>a:hover {
	background-color: var(--vscode-menubar-selectionBackground);
	color: var(--vscode-input-foreground);
}

.dropdown-menu>li.divider {
	background-color: #888888;
}
.dropdown-menu > .dropdown-header {
	padding: 0px 0px;
}

.btn {
    color: var(--vscode-input-foreground);
	background: var(--vscode-input-background);
	border: 1px solid var(--vscode-input-background);
	border-radius: 0;
}

.btn-group-sm>.btn, .btn-sm {
    border-radius: 0;
}

.btn:hover, btn:focus {
    color: var(--vscode-breadcrumb-focusForeground);
    background: var(--vscode-input-background);
    border: 1px solid var(--vscode-focusBorder);
}

.textInput {
    position: relative;
    font-size: 12px;
	padding: 5px 10px;
	vertical-align: top;
	width: 250px;
    color: var(--vscode-input-foreground);
    background: var(--vscode-input-background);
    border: 1px solid var(--vscode-input-background);
    border-radius: 0;
}

.textInput:focus {
    outline: none;
    border: 1px solid var(--vscode-focusBorder);
}

.tree-node {
    color: var(--vscode-sideBar-foreground);
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 2px 0;
}

.tree-node svg:not(.tree-node-icon) {
    font-size: 1.6rem;
}

.tree-node .tree-node-icon {
    margin-right: 5px;
}

.tree-node .tree-node-name {
    margin-left: 5px;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.changes-bar {
    display: flex;
    gap: 1px;
    height: 35%;
    opacity: .5;
}

.changes-bar.active {
    opacity: 1;
    transition: .2s ease-in-out;
}

.changes-bar .added {
    border-radius: 2px;
    background-color: var(--vscode-gitDecoration-addedResourceForeground);
}

.changes-bar .modified {
    border-radius: 2px;
    background-color: var(--vscode-gitDecoration-modifiedResourceForeground);
}

.changes-bar .deleted {
    border-radius: 2px;
    background-color: var(--vscode-gitDecoration-deletedResourceForeground);
}

.changes-bar > div:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
